@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  input,textarea{
    outline: none;
    border:0px;
    background: transparent;
  }
  input:focus,textarea:focus,button:focus{
    outline: none;
    border: 0px;
  }
  input::placeholder{
    font-style: italic;
    font-size: 12px;
  }
  button{
    @apply py-2;
    outline: none;
    border:0px;
    background: linear-gradient(40deg,#FA00FF,#00FFFF);
  }
  .main{
    width: 100vw;
    overflow-x: clip;
    max-width: 1920px;
  }
  .container-fluid{
    width: 100vw;
    margin:0px auto;
    max-width: 1920px;
  }
  .container{
    width: 100vw;
    padding:0px 80px;
    margin:0px auto;
  }
  @media (max-device-width:540px) {
    .container{
      padding:0px;
    }
  }
 
  .title::before{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    border-radius: 25px;
    width: 35%;
    transform: translateX(-60%);
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  .title::after{
    content: '';
    position: absolute;
    bottom: -30px;
    left:50%;
    border-radius: 25px;
    width: 15%;
    transform: translateX(30%);
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  .title.active::before{
    opacity: 1;
  }
  .title.active::after{
    opacity: 1;
  }
  .title.purple-green::before{
    border-bottom: 5px solid #FA00FF;
  }
  .title.purple-green::after{
    border-bottom: 5px solid #00FFFF;
  }
  .title.green-purple::before{
    border-bottom: 5px solid #00FFFF;
  }
  .title.green-purple::after{
    border-bottom: 5px solid #FA00FF;
  }
  .carousel-details-heading{
    opacity: 0;
  }
  .product-plate:nth-of-type(2){
    background: linear-gradient(40deg,#FA00FF,#00FFFF);
  }
  .home-event:nth-of-type(2n + 1) .event-details-bg{
    background: linear-gradient(90deg,#00FFFF,#FA00FF);
  }
  .home-event:nth-of-type(2n) .event-details-bg{
    background: linear-gradient(90deg,#FA00FF,#00FFFF);
  }
  .product-buy{
    background: #00FFFF !important;
  }
  .product-buy:hover{
    background: #FA00FF !important;
  }
}